
@{
    ViewBag.Title = "Login";
}

<form formaction ="Login.cs" class="form-group">
    <h3 class="jumbotron">LOGIN</h3>
    <label class="form">Username</label>
    <input class="form-control" name="username" placeholder="Enter Your Username" />
    <label class="form">Password</label>
    <input class="form-control" name="password" placeholder="Enter Your Password" />
</form>

